@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/Content/admin/style.default.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/admin/pikaday.css" />
    <script src="~/Scripts/Course/pikaday.js"></script>
    <script src="~/Scripts/Course/jquery.min.js"></script>
    <script src="~/Scripts/Course/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/Content/admin/sweetalert2.min.css">
</head>
<body class="withvernav">
    <div style="height:50px;background-color:#31425D;text-align:center" align="Center">
        <h1 vertical-align="middle" style="line-height:45px ">Add Teacher Information</h1>
    </div>
    <!--form表单中固定有submit按钮，onsubmit表示在提交时所做的js判断-->
    <form id="formid" class="stdform stdform2" action="/Admin/SubmitAddTeacherInfo" method="post">
        <p>
            <label>Name</label>
            <span class="field"><input type="text" name="teacherName" id="teacherName" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>Gender</label>
            <span class="field" style="width:400px;">
                <select id="teacherSex" name="teacherSex" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>- Select -</option>
                    <option value="男">Male</option>
                    <option value="女">Female</option>
                    <option value="未知">Unknown</option>
                </select>
            </span>
        </p>
        <p>
            <label>ID Card</label>
            <span class="field"><input type="text" name="teacherIDCard" id="teacherIDCard" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>Age</label>
            <span class="field"><input type="text" name="teacherAge" id="teacherAge" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>College</label>
            <span class="field" style="width:300px;">
                <select name="teacherDepartment" id="teacherDepartment" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>- Select -</option>
                    <option value="1">School of Chinese Language and Literature</option>
                    <option value="2">School of Journalism and Communication</option>
                    <option value="3">School of Business</option>
                    <option value="4">College of Politics & Law and Public Administration</option>
                    <option value="5">School of Foreign Languages</option>
                    <option value="6">School of History and Culture</option>
                    <option value="7">Faculty of Education</option>
                    <option value="8">School of philosophy</option>
                    <option value="9">School of Marxism</option>
                    <option value="10">Faculty of Mathematics and Statistics</option>
                    <option value="11">Faculty of Physics and Electronic Science</option>
                    <option value="12">College of Chenistry & Chemical Engineering</option>
                    <option value="13">College of Life Science</option>
                    <option value="14">Faculty of Resource and Environmental Science</option>
                    <option value="15">School of Computer Science and Information Engineering</option>
                    <option value="16">School of Materials Science and Engineering</option>
                    <option value="17">School of Art</option>
                    <option value="18">School of Physical Education</option>
                    <option value="19">College of General Education</option>
                    <option value="20">Chucai Honors College</option>
                    <option value="21">School of International Education</option>
                </select>
            </span>
        </p>
        <p>
            <label>Title</label>
            <span class="field"><input type="text" name="teacherTitle" id="teacherTitle" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>Nation</label>
            <span class="field" style="width:300px;">
                <select name="teacherNative" id="teacherNative" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>- Select -</option>
                    <option value="汉">Han</option>
                    <option value="土家">Tujia</option>
                    <option value="苗">Miao</option>
                    <option value="维吾尔">Weiwuer</option>
                    <option value="藏">Zang</option>
                    <option value="朝鲜">Chaoxian</option>
                    <option value="回族">Hui</option>
                    <option value="彝族">Yi</option>
                    <option value="蒙古族">Menggu</option>
                    <option value="布依族">Buyi</option>
                    <option value="其他">Other</option>
                </select>
            </span>
        </p>

        <p>
            <label>Birth Place</label>
            <span class="field"><input type="text" name="teacherBirthplace" id="teacherBirthplace" class="longinput" style="width:280px;" /></span>
        </p>

        <!--上传照片-->

        <p>
            <label>Politics Status</label>
            <span class="field" style="width:300px;">
                <select name="studentPoliticsstatus" id="studentPoliticsstatus" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>- Select -</option>
                    <option value="群众">Public</option>
                    <option value="中共党员">Communist Party of China</option>
                    <option value="其他">Other Parties</option>
                </select>
            </span>
        </p>
        <p>
            <label>Work Duration</label>
            <span class="field" style="width:300px;">
                <select name="teacherTeachingtime" id="teacherTeachingtime" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>- Select -</option>
                    <option value="5年以下">Under 5 Years</option>
                    <option value="5-10年">5-10Years</option>
                    <option value="10-20年">10-20Years</option>
                    <option value="20年以上">More than 20 years</option>
                </select>
            </span>
        </p>
        <p>
            <label>Phone Number</label>
            <span class="field"><input type="text" name="teacherContact" id="teacherContact" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>Personal</label>
            <span class="field"><input type="text" name="teacherOther" id="teacherOther" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>Status</label>
            <span class="field" style="width:300px;">
                <select name="teacherStatus" id="teacherStatus" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>- Select -</option>
                    <option value="1">Normal</option>
                    <option value="2">Vacation</option>
                    <option value="3">Retire</option>
                </select>
            </span>
        </p>

        <div class="showcase sweet" style="height:50px;background-color:white" align="Center">
            <button class="submit" align="Center" style="width:120px;margin-top: 10px;">Add</button>
        </div>
    </form>

    <script>
        $('.showcase.sweet button').on('click', function () {
            var teacherName = document.getElementById("teacherName").value;
            var teacherSex = document.getElementById("teacherSex").value;
            var teacherIDCard = document.getElementById("teacherIDCard").value;
            var teacherAge = document.getElementById("teacherAge").value;
            var teacherDepartment = document.getElementById("teacherDepartment").value;
            var teacherTitle = document.getElementById("teacherTitle").value;
            var teacherNative = document.getElementById("teacherNative").value;
            var teacherBirthplace = document.getElementById("teacherBirthplace").value;
            var teacherPoliticsstatus = document.getElementById("teacherPoliticsstatus").value;
            var teacherTeachingtime = document.getElementById("teacherTeachingtime").value;
            var teacherContact = document.getElementById("teacherContact").value;
            var teacherOther = document.getElementById("teacherTeachingtime").value;
            var teacherStatus = document.getElementById("teacherStatus").value;
            // teacherName teacherSex teacherIDCard teacherAge teacherDepartment teacherTitle teacherNative teacherBirthplace teacherPoliticsstatus teacherTeachingtime teacherContact teacherOther teacherStatus
            if (teacherName == '' || teacherSex == '' || teacherIDCard == '' || teacherAge == '' || teacherNative == '' || teacherDepartment == '' || teacherTitle == ''
                || teacherBirthplace == '' || teacherPoliticsstatus == '' || teacherTeachingtime == '' || teacherContact == '' ) {
                swal('Submit Error', 'Please Check Empty Column', 'Error');
                return false;
            } else {
                document.getElementById("formid").submit();
            }
        });
    </script>
</body>
</html>